### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
*.log

### Project ###
**/dist/
**/dist-pub/
**/test/unit/coverage/
**/node_modules/
**/sonar-project.properties
**/*local-only.*
